:root{
    --logo: rgb(205, 139, 79);
}

.colorLogo{
    border-color: var(--logo);
    color: var(--logo);
    background-color: white;
}

.colorLink{
    text-decoration: none;
    color:#555;
}
.colorLink:hover{
    color: var(--logo);
}

.colorLogo:hover{
    color: white;
    background-color: var(--logo);
    border-color: var(--logo);
}

#colorSubmit{
    background-color: white;
    color: var(--logo);
    border-radius: 0.3rem;
    border-color: var(--logo);
    box-shadow: none;
    margin-top: 0.5rem;
}

#colorSubmit:hover{
    background-color: var(--logo) !important;
    color: #FFF !important;
}

img.indexImage{
    width: 100%;
    height: 100%;
}

img.indexImage:hover{
    background-color: #AAA;
    filter: grayscale(50%) contrast(1.2);
    mix-blend-mode: multiply;
    cursor: pointer;        
}

.stackedRow{
    height: 50%;
}

.auctionImage{
    width: 45vw;
}